body{
	margin: 0;
}

#heading{
	background-color: #d3d3d350;
	position: sticky;
	top: 0px;
	text-align: left;
}
#title{
	background-color: white;
	border:#d3d3d350;
	font-size: 40px;
	border-radius: 0;
	padding-top: 0;
	padding-bottom: 0;
}
.button{
	text-align: center;
	color: black;
	margin: 0 20px 0 0;
	padding: 4px 5px;
	display: inline-block;
	border-radius: 6px 6px 0 0;
}
.button:hover{
	background-color: white;
}
.content{
	margin: 10px;
}